* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--alabaster);
}

:root {
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* color */
  --ash-gray: #b4b8ab;
  --dark-blue: #153243;
  --dark-blue-opacity: #1532433f;
  --light-coral: rgb(229, 215, 209);
  --dark-coral: rgb(222, 206, 199);
  --mint: #bae1db;
  --dark-mint: #c1e5e0;
  --alabaster: #eef0eb;
  --dark-alabaster: #e4e8e0;
  --white: #ffffff;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--alabaster);
  padding-bottom: 4em;
}

/* --- Heading --- */
.heading {
  font-size: 2rem;
  margin: 0.7em 0;
  color: var(--dark-blue);
  text-align: center;
}
@media screen and (min-width: 750px) {
  .heading {
    font-size: 2.5rem;
  }
}

/* --- InputField --- */
.input {
  display: flex;
  align-items: center;
  width: 75%;
  max-width: 1000px;
  position: relative;
}
.input__field {
  width: 100%;
  border-radius: 3px;
  padding: 0.85em 1em;
  font-size: 1rem;
  border: none;
  outline: none;
}
.input__field::placeholder {
  color: var(--ash-gray);
}
.input__field:focus {
  box-shadow: 0 0 10px 1000px var(--dark-blue-opacity);
}
.input__btn {
  position: absolute;
  background-color: var(--alabaster);
  right: 0;
  margin-right: 0.85em;
  padding: 0.5em 1.6em;
  text-align: center;
  color: var(--dark-blue);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transform-origin: center;

  transition: all 0.2s ease;
}
.input__btn:hover {
  background-color: var(--dark-alabaster);
  box-shadow: 0px 0.2px 0.4px rgba(0, 0, 0, 0.008),
    0px 0.5px 0.9px rgba(0, 0, 0, 0.012), 0px 0.9px 1.8px rgba(0, 0, 0, 0.015),
    0px 1.6px 3.1px rgba(0, 0, 0, 0.018), 0px 2.9px 5.8px rgba(0, 0, 0, 0.022),
    0px 7px 14px rgba(0, 0, 0, 0.03);
}
.input__btn:active {
  transform: scale(0.95);
}

/* --- TaskList --- */
.tasks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
  max-width: 1000px;
  margin-top: 2em;
  padding: 2em 1em;
  border-radius: 3px;
  background-color: var(--mint);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.allTask__heading {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--white);
}
.completed {
  background-color: var(--light-coral);
}
@media screen and (min-width: 750px) {
  .container {
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    max-width: 1000px;
  }
  .tasks {
    width: 50%;
  }
}

/* --- SingleTask --- */
.single__task {
  display: flex;
  width: 100%;
  padding: 0.8em 1.2em 0.3em 1.2em;
  margin-top: 1em;
  border-bottom: 1px solid var(--alabaster);
}
.single__task--text {
  flex: 1;
  border: none;
  font-size: 1rem;
  color: var(--dark-blue);
}
.single__task--text:focus {
  outline: none;
}
.icon {
  color: var(--dark-blue);
  margin-left: 0.5em;
  font-size: 1.2rem;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
}
.edit__input {
  border-radius: 3px;
  height: 23px;
  width: 70%;
}

/* Drag background-color */
.drag__active {
  background-color: var(--dark-mint);
}

.drag__complete {
  background-color: var(--dark-coral);
}
